.main-dashboard {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.admin-left-side {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    border:2px solid yellow;
    border-radius:15px;
}

    .admin-left-side nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 50px;
    }

        .admin-left-side nav > a {
            color: yellow;
            width: 20%;
            border: 2px solid white;
            height: 100px;
            padding: 30px;
            display: flex;
            justify-content: center;
            align-content: center;
            text-align: center;
            flex-wrap: wrap;
            margin: 30px;
            border-radius: 30px;
            font-size: 150%;
        }

            .admin-left-side nav > a:visited {
                color: yellow;
            }

            .admin-left-side nav > a:hover {
                background-color: silver;
                color: black;
            }

.admin-right-side {
    width: 25%;
    margin-top: 50px;
    border: 2px solid yellow;
    border-radius:15px;
}

    .admin-right-side aside nav {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-content: center;
        width: 100%;
        flex-wrap: wrap;
        font-size: 150%;
    }

        .admin-right-side aside nav > div {
            margin: 10px;
        }

            .admin-right-side aside nav > div a {
                color: yellow;
            }
            .admin-right-side aside nav>div a:visited
            {
                color:yellow;
            }
