@{
    Layout = "Shared/_main_layout.cshtml";
    ViewBag.title = "صفحه مورد نظر پیدا نشد";
    <link rel="stylesheet" href="~/css/Error.css" />
}
<div class="show_error">
<h1>صفحه مورد نظر پیدا نشد</h1>
<img src="~/Images/404.png"/>
</div>

